* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
    max-width: 630px;
    margin: 40px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    /* position: absolute; */
   margin-top: auto; 
    padding: 10px;
    width: 100%;
}

#iniciarSimulador {
    background-color: #0f3874;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 25px 0px 0px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#iniciarSimulador:hover {
    background-color: #041f48;
}


#iniciarSimulador:focus {
    outline: none; 
}
